.card {
  width: 540px;
  padding-bottom: 100px;

  /* display: flex;
  flex-direction: column; */
}

.menu__cards .card:last-child {
  margin: 0 auto;
}

.card__title {
  font-family: "Inter", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;

  margin: 0 0 32px 0;
}

.card__content {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card__list-item {
  margin-bottom: 16px;

  display: flex;
  justify-content: space-between;
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  border-bottom: 1px solid #838383;
  flex-grow: 1;
}
